flows/nRetail__ConsumerBankingGenerateProposedPricingOption.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <description>Set the value of the best pricing option without a selected product.</description>
        <name>Set_Best_Option_No_Selected_Product</name>
        <label>Set Best Option With No Selected Product</label>
        <locationX>745</locationX>
        <locationY>798</locationY>
        <assignmentItems>
            <assignToReference>Pricing_Option_Returned.LLC_BI__Term__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Best_Pricing_Matrix_Option.LLC_BI__Term_Months__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Pricing_Option_Returned.LLC_BI__Rate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Best_Pricing_Matrix_Option.LLC_BI__Interest_Rate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Pricing_Option_Returned.LLC_BI__Loan__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoanId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Pricing_Option_Returned.LLC_BI__Loan_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loan.LLC_BI__Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Pricing_Option_Returned.LLC_BI__Index_Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Best_Pricing_Matrix_Option.LLC_BI__Index_Value__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Pricing_Option_Returned.LLC_BI__Interest_Rate_Margin_Percent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Best_Pricing_Matrix_Option.LLC_BI__Interest_Rate_Margin_Percent__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Pricing_Option_Returned.LLC_BI__Rate_Floor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Best_Pricing_Matrix_Option.LLC_BI__Rate_Floor__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Pricing_Option_Returned.LLC_BI__Rate_Ceiling__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Best_Pricing_Matrix_Option.LLC_BI__Rate_Ceiling__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Pricing_Option_Returned.LLC_BI__Teaser_Term__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Best_Pricing_Matrix_Option.LLC_BI__Teaser_Term__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Pricing_Option_Returned.LLC_BI__Teaser_Rate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Best_Pricing_Matrix_Option.LLC_BI__Teaser_Rate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Pricing_Option_Returned.LLC_BI__Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Product.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Set the value of the best pricing option with a selected product.</description>
        <name>Set_Best_Option_Selected_Product</name>
        <label>Set Best Option With Selected Product</label>
        <locationX>467</locationX>
        <locationY>626</locationY>
        <assignmentItems>
            <assignToReference>Pricing_Option_Returned.LLC_BI__Term__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Best_Pricing_Matrix_Option.LLC_BI__Term_Months__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Pricing_Option_Returned.LLC_BI__Rate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Best_Pricing_Matrix_Option.LLC_BI__Interest_Rate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Pricing_Option_Returned.LLC_BI__Loan__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoanId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Pricing_Option_Returned.LLC_BI__Loan_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loan.LLC_BI__Amount__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <description>Determine if the loan&apos;s product is already selected.</description>
        <name>Has_Loan_Product</name>
        <label>Has Loan Product</label>
        <locationX>600</locationX>
        <locationY>52</locationY>
        <defaultConnector>
            <targetReference>Lookup_Pricing_Matrix_With_No_Product_Selected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Product Selected</defaultConnectorLabel>
        <rules>
            <name>Has_Loan_Product_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loan.LLC_BI__Product__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Pricing_Matrix_With_Product</targetReference>
            </connector>
            <label>Product Selected</label>
        </rules>
    </decisions>
    <description>This flow references pricing variables from the pricing matrix object to find the pricing option with the longest term, given relevant loan, product, and account information.</description>
    <interviewLabel>ConsumerBankingGenerateProposedPricingOption {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>ConsumerBankingGenerateProposedPricingOption</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Query for the account record on which the loan was created.</description>
        <name>Lookup_Account</name>
        <label>Lookup Account</label>
        <locationX>396</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Loan_Product</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loan.LLC_BI__Account__c</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>Account</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>LLC_BI__FICO_Score__c</queriedFields>
        <queriedFields>LLC_BI__Region__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Query for the loan record for which the proposed pricing option is being generated.</description>
        <name>Lookup_Loan</name>
        <label>Lookup Loan</label>
        <locationX>213</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoanId</elementReference>
            </value>
        </filters>
        <object>LLC_BI__Loan__c</object>
        <outputReference>Loan</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>LLC_BI__Account__c</queriedFields>
        <queriedFields>LLC_BI__Amount__c</queriedFields>
        <queriedFields>LLC_BI__Product_Line__c</queriedFields>
        <queriedFields>LLC_BI__Product_Type__c</queriedFields>
        <queriedFields>LLC_BI__Product__c</queriedFields>
        <sortField>LLC_BI__Term_Months__c</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <description>Find a the set of matching records in the pricing matrix when a product is not selected.</description>
        <name>Lookup_Pricing_Matrix_With_No_Product_Selected</name>
        <label>Lookup Pricing Matrix With No Selected Product</label>
        <locationX>745</locationX>
        <locationY>275</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Best_Option_No_Product</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LLC_BI__Credit_Score_Maximum__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>Account.LLC_BI__FICO_Score__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__Credit_Score_Minimum__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>Account.LLC_BI__FICO_Score__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__Loan_Value_Maximum__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>Loan.LLC_BI__Amount__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__Loan_Value_Minimum__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>Loan.LLC_BI__Amount__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__Product_Line_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loan.LLC_BI__Product_Line__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__Product_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loan.LLC_BI__Product_Type__c</elementReference>
            </value>
        </filters>
        <object>LLC_BI__Pricing_Matrix__c</object>
        <outputReference>Pricing_Matrix</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>LLC_BI__Term_Months__c</queriedFields>
        <queriedFields>LLC_BI__Interest_Rate__c</queriedFields>
        <queriedFields>LLC_BI__Index_Value__c</queriedFields>
        <queriedFields>LLC_BI__Teaser_Term__c</queriedFields>
        <queriedFields>LLC_BI__Teaser_Rate__c</queriedFields>
        <queriedFields>LLC_BI__Rate_Floor__c</queriedFields>
        <queriedFields>LLC_BI__Rate_Ceiling__c</queriedFields>
        <queriedFields>LLC_BI__Interest_Rate_Margin_Percent__c</queriedFields>
        <queriedFields>LLC_BI__Product_Line_Name__c</queriedFields>
        <queriedFields>LLC_BI__Product_Type_Name__c</queriedFields>
        <queriedFields>LLC_BI__Product_Name__c</queriedFields>
        <sortField>LLC_BI__Term_Months__c</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <description>Find a the set of matching records in the pricing matrix when a product is selected.</description>
        <name>Lookup_Pricing_Matrix_With_Product</name>
        <label>Lookup Pricing Matrix With Selected Product</label>
        <locationX>467</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Best_Option_Selected_Product</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LLC_BI__Credit_Score_Maximum__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>Account.LLC_BI__FICO_Score__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__Credit_Score_Minimum__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>Account.LLC_BI__FICO_Score__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__Loan_Value_Maximum__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>Loan.LLC_BI__Amount__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__Loan_Value_Minimum__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>Loan.LLC_BI__Amount__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__Product_Line_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loan.LLC_BI__Product_Line__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__Product_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loan.LLC_BI__Product__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__Product_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loan.LLC_BI__Product_Type__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__Region__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account.LLC_BI__Region__c</elementReference>
            </value>
        </filters>
        <object>LLC_BI__Pricing_Matrix__c</object>
        <outputReference>Pricing_Matrix</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>LLC_BI__Term_Months__c</queriedFields>
        <queriedFields>LLC_BI__Interest_Rate__c</queriedFields>
        <sortField>LLC_BI__Term_Months__c</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <description>Lookup product when the product is not selected.</description>
        <name>Lookup_Product</name>
        <label>Lookup Product</label>
        <locationX>745</locationX>
        <locationY>623</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Best_Option_No_Selected_Product</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LLC_BI__Product_Line_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Best_Pricing_Matrix_Option.LLC_BI__Product_Line_Name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__Product_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Best_Pricing_Matrix_Option.LLC_BI__Product_Type_Name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Best_Pricing_Matrix_Option.LLC_BI__Product_Name__c</elementReference>
            </value>
        </filters>
        <object>LLC_BI__Product__c</object>
        <outputReference>Product</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <startElementReference>Lookup_Loan</startElementReference>
    <status>Active</status>
    <subflows>
        <description>Determine the best option to propose for pricing matrix with no selected product.</description>
        <name>Get_Best_Option_No_Product</name>
        <label>Get Best Option With No Selected Product</label>
        <locationX>745</locationX>
        <locationY>446</locationY>
        <connector>
            <targetReference>Lookup_Product</targetReference>
        </connector>
        <flowName>nRetail__RetrieveBestPricingOption</flowName>
        <inputAssignments>
            <name>IncomingPricingMatrix</name>
            <value>
                <elementReference>Pricing_Matrix</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Best_Pricing_Matrix_Option</assignToReference>
            <name>BestPricingOption</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <description>Determine the best option to propose for a pricing matrix with a selected product.</description>
        <name>Get_Best_Option_Selected_Product</name>
        <label>Get Best Option With Selected Product</label>
        <locationX>467</locationX>
        <locationY>439</locationY>
        <connector>
            <targetReference>Set_Best_Option_Selected_Product</targetReference>
        </connector>
        <flowName>nRetail__RetrieveBestPricingOption</flowName>
        <inputAssignments>
            <name>IncomingPricingMatrix</name>
            <value>
                <elementReference>Pricing_Matrix</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Best_Pricing_Matrix_Option</assignToReference>
            <name>BestPricingOption</name>
        </outputAssignments>
    </subflows>
    <variables>
        <description>The account record for which the loan was created.</description>
        <name>Account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <description>The pricing matrix options with the longest term and lowest interest rate (best option).</description>
        <name>Best_Pricing_Matrix_Option</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LLC_BI__Pricing_Matrix__c</objectType>
    </variables>
    <variables>
        <description>The loan record for which the proposed pricing option is being generated.</description>
        <name>Loan</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LLC_BI__Loan__c</objectType>
    </variables>
    <variables>
        <description>The input value of the Loan ID.</description>
        <name>LoanId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The pricing matrix that meets the criteria of the loan.</description>
        <name>Pricing_Matrix</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LLC_BI__Pricing_Matrix__c</objectType>
    </variables>
    <variables>
        <description>The pricing option record with the longest term and lowest interest rate (best option).</description>
        <name>Pricing_Option_Returned</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>LLC_BI__Pricing_Option__c</objectType>
    </variables>
    <variables>
        <description>The Product record for the proposed pricing option that is being generated.</description>
        <name>Product</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LLC_BI__Product__c</objectType>
    </variables>
</Flow>
