flows/RMOR__LoanGetAccounts.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <description>Append included accounted to list of included accounts.</description>
        <name>Add_Account</name>
        <label>Add Account</label>
        <locationX>171</locationX>
        <locationY>417</locationY>
        <assignmentItems>
            <assignToReference>Accounts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Account</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountsFound</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Legal_Entity_Loop</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Check if the legal entity should be included in the loan.</description>
        <name>Should_include_Account</name>
        <label>Should Include Account</label>
        <locationX>469</locationX>
        <locationY>217</locationY>
        <defaultConnector>
            <targetReference>Legal_Entity_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Exclude Account</defaultConnectorLabel>
        <rules>
            <name>ReturnAccount</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4) OR (5 AND 6) OR (7 AND 8)</conditionLogic>
            <conditions>
                <leftValueReference>LegalEntity.LLC_BI__Is_Borrower__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>includeBorrowers</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LegalEntity.LLC_BI__Is_Guarantor__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>includeGuarantors</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LegalEntity.LLC_BI__Is_CoBorrower__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>includeCoBorrowers</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LegalEntity.LLC_BI__Is_Grantor__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>includeGrantors</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account</targetReference>
            </connector>
            <label>Return Account</label>
        </rules>
    </decisions>
    <description>Get accounts to be included in a loan.</description>
    <interviewLabel>LoanGetAccounts {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>LoanGetAccounts</label>
    <loops>
        <description>Iterate over each legal entity.</description>
        <name>Legal_Entity_Loop</name>
        <label>Legal Entity Loop</label>
        <locationX>171</locationX>
        <locationY>211</locationY>
        <assignNextValueToReference>LegalEntity</assignNextValueToReference>
        <collectionReference>LegalEntities</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Should_include_Account</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Retrieves account details for the included legal entity.</description>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>475</locationX>
        <locationY>417</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LegalEntity.LLC_BI__Account__c</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>Account</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Retrieve list of legal entities for a specified mortgage loan.</description>
        <name>Get_Legal_Entities</name>
        <label>Get Legal Entities</label>
        <locationX>171</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Legal_Entity_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LLC_BI__Loan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoanId</elementReference>
            </value>
        </filters>
        <object>LLC_BI__Legal_Entities__c</object>
        <outputReference>LegalEntities</outputReference>
        <queriedFields>LLC_BI__Is_Borrower__c</queriedFields>
        <queriedFields>LLC_BI__Is_CoBorrower__c</queriedFields>
        <queriedFields>LLC_BI__Is_Guarantor__c</queriedFields>
        <queriedFields>LLC_BI__Is_Grantor__c</queriedFields>
        <queriedFields>LLC_BI__Account__c</queriedFields>
    </recordLookups>
    <startElementReference>Get_Legal_Entities</startElementReference>
    <status>Active</status>
    <variables>
        <description>Account for legal entity.</description>
        <name>Account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <description>List of accounts included on a Mortgage Loan.</description>
        <name>Accounts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <description>Flag to determine if at least one account was found to include in the loan.</description>
        <name>AccountsFound</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Should include borrowers flag. Defaults to false.</description>
        <name>includeBorrowers</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Should include co-borrowers flag. Defaults to false.</description>
        <name>includeCoBorrowers</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Should include grantors flag. Defaults to false.</description>
        <name>includeGrantors</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Should include guarantors flag. Defaults to false.</description>
        <name>includeGuarantors</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>List of legal entities for a mortgage loan.</description>
        <name>LegalEntities</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LLC_BI__Legal_Entities__c</objectType>
    </variables>
    <variables>
        <description>A single legal entity being iterated over.</description>
        <name>LegalEntity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LLC_BI__Legal_Entities__c</objectType>
    </variables>
    <variables>
        <name>LoanId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
