flows/RMOR__AutoDecisionForMortgageAndRetail.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Decide_Product_Line_Flow</name>
        <label>Decide Product Line Flow</label>
        <locationX>318</locationX>
        <locationY>52</locationY>
        <defaultConnectorLabel>Retail</defaultConnectorLabel>
        <rules>
            <name>Mortgage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoanRecord.LLC_BI__Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mortgage</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mortgage_Auto_Decision</targetReference>
            </connector>
            <label>Mortgage</label>
        </rules>
    </decisions>
    <interviewLabel>Auto Decision for Mortgage and Retail {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Auto Decision for Mortgage and Retail</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Product_Line</name>
        <label>Get Product Line</label>
        <locationX>176</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decide_Product_Line_Flow</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoanId</elementReference>
            </value>
        </filters>
        <object>LLC_BI__Loan__c</object>
        <outputReference>LoanRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>LLC_BI__Product_Line__c</queriedFields>
    </recordLookups>
    <startElementReference>Get_Product_Line</startElementReference>
    <status>Obsolete</status>
    <subflows>
        <name>Mortgage_Auto_Decision</name>
        <label>Mortgage Auto Decision</label>
        <locationX>205</locationX>
        <locationY>278</locationY>
        <flowName>RMOR__ResidentialMortgageAutoDecision</flowName>
        <inputAssignments>
            <name>LoanId</name>
            <value>
                <elementReference>LoanId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Result</assignToReference>
            <name>Result</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ResultDescription</assignToReference>
            <name>ResultDescription</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>AssignedPoints</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Details</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>LLC_BI__Scorecard_Detail__c</objectType>
    </variables>
    <variables>
        <name>LoanId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoanRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LLC_BI__Loan__c</objectType>
    </variables>
    <variables>
        <name>MaximumPoints</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Result</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ResultDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
